<%- include("../template/header") %> 
<%- include("../components/admin/navigasi") %> 
<div class="row ">
        <%- include("../components/admin/sideNavigasi") %> 
    <div class="row">

        <div class="mt-4 col-9 offset-3">
            <div class="row justify-content-center ">
                <div class="col-11">
                    <div class="card">
                        <div class="card-body">
                                <!-- Title -->
                <%- include("../components/titleCard", {title: "PELAYANAN SURAT KETERANGAN MISKIN"}) %> 
                           <!-- Content -->
                    <table class="table text-center table-default">
                      <thead>
                        <tr>
                          <th scope="col text-start">NO</th>
                          <th scope="col">PEMOHON</th>
                          <th scope="col">KEPERLUAN</th>
                          <th scope="col">STATUS</th>
                          <th scope="col">AKSI</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            <div class="tb-data-smBold">3578273024560002</div>
                            <div class="tb-data-reguler">Tony Pratama</div>
                          </td>
                          <td><div class="tb-data-smBold">PENDIDIKAN</div></td>
                          <td>
                              <div class="tb-data-smBold">[MENUNGGU]</div>
                              <div class="tb-data-reguler">PENGECEKAN BERKAS</div>
                            </td>
                            <td>
                                <button class="btn btn-primary bgd-blue">Detail</button>
                            </td>
                        </tr>
                      </tbody>
                    </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../template/footer") %> 