<%- include("../template/header") %> 
<%- include("../components/admin/navigasi") %> 
<div class="row ">
    <%- include("../components/admin/sideNavigasi") %> 
    
    <div class="row">

        <div class="mt-4 col-9 offset-3">
            <div class="row justify-content-center ">
                <div class="col-11">
                    <div class="card">
                        <div class="card-body">
                                <!-- Title -->
                <%- include("../components/titleCard", {title: "PELAYANAN SURAT KETERANGAN MISKIN"}) %> 
                           <!-- Content -->
                    <table class="table text-center table-default">
                      <thead>
                        <tr>
                          <th scope="col text-start">NO</th>
                          <th scope="col">PEMOHON</th>
                          <th scope="col">KEPERLUAN</th>
                          <th scope="col">STATUS</th>
                          <th scope="col">AKSI</th>
                        </tr>
                      </thead>
                      <tbody id="tableRow">
                        
                      </tbody>
                    </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
 
  const getData  = async () =>{
     const config = {
          headers: {
             'Authorization': `Bearer ${await localStorage.getItem('token')}`,
            },
      }
      const getDatatPengajuanSMK = await fetch('/api/admin/riwayat', config) 
      const {results} = await getDatatPengajuanSMK.json();

      const tableRow = document.getElementById("tableRow")
      console.log(results);
      if(results.length === 0){
          tableRow.innerHTML = `
          <%- include("../components/tableEmpty.ejs") %> 
                  `;
      }else{
      results.map((dt, i)=>{
        tableRow.innerHTML += `
                      <tr>
                          <th scope="row">${1+i}</th>
                          <td>
                            <div class="tb-data-smBold">${dt.nikPemohon}</div>
                            <div class="tb-data-reguler">Tony Pratama</div>
                          </td>
                          <td><div class="tb-data-smBold">${dt.keperluan}</div></td>
                          <td>
                              <div class="tb-data-smBold">[${dt.status}]</div>
                              <div class="tb-data-reguler">
                                <a target="_blank" href="/images/skm/Visual_Studio_Code_Untuk_Pemula.pdf">
                                  <button type="button" class="btn btn-outline-success btn-sm"><span class="iconify" data-icon="fa-solid:download" style="color: #2dce89;" data-width="18" data-height="18"></span> UNDUH SKM</button>
                                </a>  
                                </div>
                            </td>
                            <td>
                              <div class="row">
                                <div class="col">
                                    <div class="d-grid gap-2">
                                      <a href="/home/riwayat/${dt._id}">
                                        <button class="btn btn-primary bgd-blue">Detail</button>
                                      </a>
                                    </div>
                                </div>
                              </div>
                             
                            </td>
                        </tr>`
      })
    }
      
  }

  getData();

</script>
<%- include("../template/footer") %> 

 <!--                     