<%- include("../template/header") %> 
<%- include("../components/admin/navigasi") %> 
<div class="row ">
        <%- include("../components/admin/sideNavigasi") %> 
    <div class="row mb-5">

        <div class="mt-4 col-9 offset-3">
            <div class="row justify-content-center ">
                <div class="col-11">
                    <div class="card">
                        <div class="card-body">
                                <!-- Title -->
                <%- include("../components/titleCard", {title: "PELAYANAN SURAT KETERANGAN MISKIN"}) %> 
                           <!-- Content -->
                   <div class="row mb-2 list-text-violet">
                      <div class="col-3 offset-1">NIK PEMOHON</div>
                      <div class="col-8" id="nikPemohon"></div>
                   </div>
                   <div class="row mb-2 list-text-violet">
                        <div class="col-3 offset-1">NIK KEPALA KELUARGA</div>
                        <div class="col-8" id="nikKepalaKeuarga"></div>
                    </div>
                    <div class="row mb-2 list-text-violet">
                        <div class="col-3 offset-1">KEPERLUAN SKM</div>
                        <div class="col-8" id="keperluan"></div>
                    </div>
                    <div class="row mb-2 list-text-violet">
                        <div class="col-3 offset-1">NO HP</div>
                        <div class="col-8" id="noHp"></div>
                    </div>

                    <div class="row mt-3">
                       <div class="col-5 offset-1 list-text-violet">
                         <span>SCAN KARTU KELUARGA</span>
                         <img src="/images/sistem/logo.png" class="img-fluid" alt="...">
                       </div> 
                       <div class="col-5 offset-1 list-text-violet">
                           <span>SCAN KARTU KELUARGA</span>
                           <img src="/images/sistem/logo.png" class="img-fluid" alt="...">
                       </div>
                    </div>

                        <div class="row mt-4 ">
                           <div class="col-3 offset-9">
                               <a href="/home/riwayat" class="text-decoration-none">
                               <div class="d-grid gap-2 my-3">
                                         <button class="btn btn-danger" id="tolakPengajuan">KEMBALI</button>
                                        </div>
                                </a>
                           </div>
                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const urlId =window.location.href.replace("http://127.0.0.1:3000/home/pengajuan/","")
    const getData = async()=>{
        const config = {
          headers: {
             'Authorization': `Bearer ${await localStorage.getItem('token')}`,
            },
      }
        const getDetail = await fetch(`/api/admin/pengajuan/${urlId}`, config)
        const {results} = await getDetail.json()
        console.log(results);
        document.getElementById("nikPemohon").innerHTML = `: ${results.nikPemohon}`; 
        document.getElementById("nikKepalaKeuarga").innerHTML = `: ${results.nikKepalaKeluarga}`; 
        document.getElementById("noHp").innerHTML = `: ${results.noHp}`; 
        document.getElementById("keperluan").innerHTML = `: ${results.keperluan}`; 
    }

    document.getElementById("terimaPengajuan").addEventListener("click", async()=>{
        const config = {
                headers: {
                    'Authorization': `Bearer ${await localStorage.getItem('token')}`,
                    },
            }
        const getDetail = await fetch(`/api/admin/pengajuan/${urlId}/terima`, config)
        const {message} = await getDetail.json()
        window.location.href = "/home/pengajuan";
    })
    document.getElementById("tolakPengajuan").addEventListener("click", async()=>{
        const config = {
                headers: {
                    'Authorization': `Bearer ${await localStorage.getItem('token')}`,
                    },
            }
        const getDetail = await fetch(`/api/admin/pengajuan/${urlId}/tolak`, config)
        const {message} = await getDetail.json()
        window.location.href = "/home/pengajuan";
    })
    getData();
</script>
<%- include("../template/footer") %> 