<%- include("../../template/header") %> 
<div class="container-user">
    <%- include("../../components/user/navigasi") %> 
    <div class="row justify-content-center align-items-center h-100">
    <div class="col-11">
         <div class="card-default mb-5">

                <!-- Title -->
                <%- include("../../components/titleCard", {title: "PELAYANAN SURAT KETERANGAN MISKIN"}) %> 
                
                <!-- Navigasi Card -->
                <%- include("../../components/user/cardNavigasi") %> 

                <!-- Form -->

                    <table class="table text-center table-default">
                      <thead>
                        <tr>
                          <th scope="col text-start">NO</th>
                          <th scope="col">PEMOHON</th>
                          <th scope="col">KEPERLUAN</th>
                          <th scope="col">STATUS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            <div class="tb-data-smBold">3578273024560002</div>
                            <div class="tb-data-reguler">Tony Pratama</div>
                          </td>
                          <td><div class="tb-data-smBold">PENDIDIKAN</div></td>
                          <td>
                            <div class="tb-data-smBold">[MENUNGGU]</div>
                            <div class="tb-data-reguler">PENGECEKAN BERKAS</div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>
                            <div class="tb-data-smBold">3578273024560002</div>
                            <div class="tb-data-reguler">Tony Pratama</div>
                          </td>
                          <td><div class="tb-data-smBold">PENDIDIKAN</div></td>
                          <td>
                            <div class="tb-data-smBold">[MENUNGGU]</div>
                            <div class="tb-data-reguler">PENGECEKAN BERKAS</div>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>
                            <div class="tb-data-smBold">3578273024560002</div>
                            <div class="tb-data-reguler">Tony Pratama</div>
                          </td>
                          <td><div class="tb-data-smBold">PENDIDIKAN</div></td>
                          <td>
                            <div class="tb-data-smBold">[MENUNGGU]</div>
                            <div class="tb-data-reguler">PENGECEKAN BERKAS</div>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                </div>
                
               
                
    </div>
</div>
</div>
<%- include("../../template/footer") %> 