<%- include("../../template/header") %> 
<div class="container-user">
    <%- include("../../components/user/navigasi") %> 
    <div class="row justify-content-center align-items-center h-100">
    <div class="col-11">
         <div class="card-default mb-5">

                <!-- Title -->
                <%- include("../../components/titleCard", {title: "PELAYANAN SURAT KETERANGAN MISKIN"}) %> 
                
                <!-- Navigasi Card -->
                <%- include("../../components/user/cardNavigasi") %> 

                <!-- Form -->

                    <table class="table text-center table-default">
                      <thead>
                        <tr>
                          <th scope="col text-start">NO</th>
                          <th scope="col">PEMOHON</th>
                          <th scope="col">KEPERLUAN</th>
                          <th scope="col">STATUS</th>
                        </tr>
                      </thead>
                      <tbody id="tableRow">
                        
                      </tbody>
                    </table>
                </div>
    </div>
</div>
</div>

<script>
 
  const getData  = async () =>{
     const config = {
          headers: {
             'Authorization': `Bearer ${await localStorage.getItem('token')}`,
            },
      }
      const getDatatPengajuanSMK = await fetch('/api/pengajuan-skm/menunggu-verifikasi', config) 
      const {results} = await getDatatPengajuanSMK.json();

      const tableRow = document.getElementById("tableRow")
      if(results.length === 0){
          tableRow.innerHTML += `
                  <tr>
                    <td colspan="4">Belum ada data</td>
                  </tr>`;
      }else{
      results.map((dt, i)=>{
        tableRow.innerHTML += `
                  <tr>
                    <th scope="row">${1+i}</th>
                    <td>
                      <div class="tb-data-smBold">${dt.nikPemohon}</div>
                      <div class="tb-data-reguler">Tony Pratama</div>
                    </td>
                    <td><div class="tb-data-smBold">${dt.keperluan}</div></td>
                    <td>
                      <div class="tb-data-smBold">[${dt.status}]</div>
                      <div class="tb-data-reguler">PENGECEKAN BERKAS</div>
                    </td>
                  </tr>`;

                  console.log("halo");
      })
    }
      
  }

  getData();

</script>
<%- include("../../template/footer") %> 