<%- include("../template/header") %> 
<%- include("../components/admin/navigasi") %> 

<div id="notif" class="  position-fixed w-100  d-none  z-index-alert">
  <div class="alert alert-danger text-center " role="alert" >
                Data Berhasil di Hapus
    </div>
</div>
    <div id="notif-update" class="position-fixed d-none w-100 z-index-alert">
      <div class="alert alert-success text-center " role="alert" >
                    Data Berhasil di Update
     </div>
</div>
<div class="row   ">
   
        <%- include("../components/superAdmin/sideNavigasi") %> 
        
    <div class="row" >
      <div class="mt-4 col-9 offset-3" >
            <div class="row justify-content-center ">
                <div class="col-11">
                    <div class="card">
                        <div class="card-body">
                                <!-- Title -->
                <%- include("../components/titleCard", {title: "Daftar User"}) %> 
                           <!-- Content -->
                    <table class="table text-center table-default">
                      <thead>
                        <tr>
                          <th scope="col text-start">NO</th>
                          <th scope="col">Nama</th>
                          <th scope="col">STATUS</th>
                          <th scope="col">AKSI</th>
                        </tr>
                      </thead>
                      <tbody id="tableRow">
                        
                      </tbody>
                    </table>
                    <%- include("../components/tableFooter") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

  const getData  = async () =>{
     const config = {
          headers: {
             'Authorization': `Bearer ${await localStorage.getItem('token')}`,
            },
      }
      const getDatatPengajuanSMK = await fetch('/api/super-admin/list-user', config) 
      const {results} = await getDatatPengajuanSMK.json();
      console.log(results);
      const tableRow = document.getElementById("tableRow")
      tableRow.innerHTML = ""
       const resultLenght = results.length;
      document.getElementById("totalTable").innerText = `Showing ${resultLenght} to ${resultLenght} of ${resultLenght} entries`
      if(resultLenght === 0){
          tableRow.innerHTML += `
                  <tr>
                    <td colspan="4">Belum ada data</td>
                  </tr>`;
      }else{
        results.map((dt, i)=>{
          
           tableRow.innerHTML += `
                    <tr>
                      <th scope="row">${1+i}</th>
                      <td>
                        <div class="tb-data-smBold" name=""
                         id="idUser">${dt.fullname}</div>
                      </td>
                      <td><div class="tb-data-smBold text-uppercase">${dt.status}</div></td>
                      <td>
                       <div class="row">
                                <div class="col pe-1">
                                    <div class="d-grid gap-2">
                                      <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUbahId${dt._id}">
                                        Ubah
                                        </button>
                                     
                                    </div>
                                </div>
                                <div class="col pl-1">
                                    <div class="d-grid gap-2">
                                      <button class="btn btn-danger" type="button"  data-bs-toggle="modal" data-bs-target="#modalDeleteId${dt._id}">Hapus</button>
                                    </div>
                                </div>
                              </div>
                      </td>
                    </tr>
                    
                    <!-- Modal Edit-->
<div class="modal fade mt-5" id="modalUbahId${dt._id}" tabindex="-1" aria-labelledby="modalUbah" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
       <div class="row justify-content-center text-start">
          <div class="col-11">
            <div class="row mb-2 text-center list-text-violet mt-3">
                      <div class="col fs-4 my-2">UBAH ADMIN</div>
                   </div>
          <div class="row mb-2 align-items-center list-text-violet">
                      <div class="col-5 offset-1">Nama</div>
                      <div class="col-6" id="nama${dt._id}">: ${dt.fullname}</div>
                   </div>
                   <div class="row align-items-center mb-2 list-text-violet">
                        <div class="col-5 offset-1">Status</div>
                        <div class="col-6" >
                          <select class="form-select" id="status${dt._id}" aria-label="Default select example">
                            <option value="aktif" ${dt.status === "aktif" ? "selected" : ""} >AKTIF</option>
                            <option value="non aktif" ${dt.status === "non aktif" ? "selected" : ""} >NON AKTIF</option>
                          </select>
                          </div>
                    </div>
                    <div class="row align-items-center mb-2 list-text-violet">
                        <div class="col-5 offset-1">Level User</div>
                        <div class="col-6" id="nikKepalaKeuarga">
                          <select class="form-select" id="levelUser${dt._id}"  aria-label="Default select example">
                            <option value="user" ${dt.level === "user" ? "selected" : ""}>USER</option>
                            <option value="admin" ${dt.level === "admin" ? "selected" : ""}>ADMIN</option>
                          </select>
                          </div>
                    </div>
          </div>
        </div>
      </div>
      <div class="row mx-0 mt-4 ">
            <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button" class="btn btn-outline-primary rounded-0 px-0  text-uppercase fs-5" data-bs-dismiss="modal">Tidak</button>
            </div>
           <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button"  id="ubah${dt._id}" class="btn btn-outline-primary rounded-0 px-0 py-2  text-uppercase fs-5 ubah-user">Ya</button>
           </div>
       </div>
    </div>
  </div>
</div>
              
              <!-- Modal Delete-->
<div class="modal fade mt-5 " id="modalDeleteId${dt._id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="row justify-content-center">
   <div class="col-4 ">
      <div class="modal-dialog">
    <div class="modal-content border-0 ">
      <div class="modal-body text-center pb-0 px-0">
        <span class="iconify mt-4"  data-icon="fluent:delete-24-filled" style="color: #dc3545;" data-width="80" data-height="80"></span>
        <p class="fs-5 my-1 text-danger  ">Apakah Anda Ingin Menghapus?</p>
        <p class="fs-5 my-1 text-dark ">${dt.fullname}</p>
       <div class="row mx-0 mt-4 ">
            <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button" class="btn btn-outline-danger rounded-0 px-0  text-uppercase fs-5" data-bs-dismiss="modal">Tidak</button>
            </div>
           <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button"  id="hapus${dt._id}" class="btn btn-outline-danger rounded-0 px-0 py-2  text-uppercase fs-5 hapus-user">Ya</button>
           </div>
       </div>
      </div>
    </div>
  </div>
   </div>
 </div>
</div>
              
                   `;

        })
      }
       
      

      loadHapus(document.querySelectorAll('.hapus-user'))
      loadSimpan(document.querySelectorAll('.ubah-user'))
  }

  const loadSimpan = async (data) => {
    for (let i = 0; i < data.length; i++) {
      document.getElementById(data[i].id).addEventListener('click', async ()=> {
        let id = data[i].id.replace("ubah","")
         const selectStatus = document.getElementById(`status${id}`);
         const selectStatusvalue = selectStatus.options[selectStatus.selectedIndex].value;
         const selectLevelUser = document.getElementById(`levelUser${id}`);
         const levelUserValue = selectLevelUser.options[selectLevelUser.selectedIndex].value;
            const config = {
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${await localStorage.getItem('token')}`,
              },
           method: "put",
           body: JSON.stringify({
             level : levelUserValue,
             status : selectStatusvalue,
           })
        }
        const getDatatPengajuanSMK = await fetch(`/api/super-admin/user/${id}`, config) 
        const {message} = await getDatatPengajuanSMK.json();
        console.log(message);
        if(message === "Update User Success"){
        const myModalEl = document.getElementById(`modalUbahId${id}`)
        const modal = bootstrap.Modal.getInstance(myModalEl)
          modal.hide()
           const notigf = document.getElementById("notif-update")
          notigf.classList.remove("d-none")
          await getData();
          setTimeout(()=>notigf.classList.add("d-none"), 3000)
        }
        
         })
      }
  }

  const loadHapus = async (data) =>{
    for (let i = 0; i < data.length; i++) {
        let hapusId = data[i].id
        document.getElementById(hapusId).addEventListener('click', async ()=> {
        const config = {
            headers: {
              'Authorization': `Bearer ${await localStorage.getItem('token')}`,
              },
            method: "delete",
        }
        let id = hapusId.replace("hapus","");
        const getDatatPengajuanSMK = await fetch(`/api/super-admin/user/${id}`, config) 
        const {message} = await getDatatPengajuanSMK.json();
        if (message === "Delete User Success") {
          const modalDelete = document.getElementById(`modalDeleteId${id}`)
          const modal = bootstrap.Modal.getInstance(modalDelete)
          modal.hide()
          const notigf = document.getElementById("notif")
          notigf.classList.remove("d-none")
          await getData();
          setTimeout(()=>notigf.classList.add("d-none"), 3000)
        }
    })
    
  }
  }
  getData();
  

  
</script>
<%- include("../template/footer") %> 